{deps, []}.

{plugins, [
    {emqx_plugrel, {git, "https://github.com/emqx/emqx_plugrel.git", {tag, "0.3.0"}}},
    erlfmt
]}.

{erl_opts, [debug_info]}.

%% this is the release version, different from app vsn in .app file
{relx, [
    {release, {emqx_log_action, "5.0.2"}, [emqx_log_action]},
    {dev_mode, false},
    {include_erts, false}
]}.

%% Additional info of the plugin
{emqx_plugrel, [
    {authors, ["EMQX Team"]},
    {builder, [
        {name, "EMQX Team"},
        {contact, "emqx-support@emqx.io"},
        {website, "www.emqx.com"}
    ]},
    {repo, "https://github.com/savonarola/emqx-log-action.git"},
    {functionality, ["Demo"]},
    {compatibility, [{emqx, "~> 5.0"}]},
    {description, "Plugin for EMQX to log selected fields in Rule engine"}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    warnings_as_errors,
    deprecated_functions
]}.
